/bottomtabbedpage/bottomtabbedpage/bottom-navigation-bar/bin
/bottomtabbedpage/bottomtabbedpage/bottom-navigation-bar/obj
/bottomtabbedpage/bottomtabbedpage/bottomtabbedpage/bin
/bottomtabbedpage/bottomtabbedpage/bottomtabbedpage/obj
/bottomtabbedpage/bottomtabbedpage/bottomtabbedpage.Droid/bin
/bottomtabbedpage/bottomtabbedpage/bottomtabbedpage.Droid/obj
/bottomtabbedpage/bottomtabbedpage/bottomtabbedpage.iOS/obj
/bottomtabbedpage/bottomtabbedpage/bottomtabbedpage.iOS/bin
